.btn-show-filter {
    position: absolute;
    right:2rem;
    top: -10px;
    box-shadow: none;
    font-size: 1.2rem;
    padding:1rem 1.5rem;
    background-color: var(--color-reset);
    border: 1px solid var(--color-reset);
    transition: 0.3s ease-out;
}

.btn-show-filter:hover {
    box-shadow: none;
    border: 1px solid var(--color-light-gray)
}

.btn-show-filter:active {
    top: -10px;
}

.filter-box {
    position: absolute;
    background-color: var(--color-white);
    padding: 1rem;
    border: 1px solid var(--color-light-gray);
    border-radius: var(--container-border);
    right: 2rem;
    top: 3.2rem;
    z-index: 1;
}

.filter-color-box, .filter-tag-box {
    gap: 8px;
    margin: 8px 0;
}

.filter-color-box .color  {
    width: 3rem;
    height: 3rem;
    border-radius: var(--circle-border);
    border: 1px solid var(--color-light-gray);
    justify-content: center;
}

.icon-check {
    font-size: 1.6rem;
    border-radius: var(--circle-border);
    margin: 0;
    color: var(--color-primary)
}

.icon-check.for-tags {
    font-size: 1.3rem;
}

.filter-tag-box .tags{
    border: 1px solid var(--color-light-gray);
    margin: 4px 0;
}

.filter-box section {
    margin: 1rem 8px;
}

@media (max-width: 700px) {
    .filter-box {
        font-size: 12px;
    }

    .filter-color-box .color  {
        width: 4rem;
        height: 4rem;
    }
}