.sign-up-page {
    min-width: 28rem; 
    position: relative;
    margin:0 3%;
}

.sign-up-page .image-container {
    margin: 0;
    align-self: flex-start;
    position:sticky;
    width:45%;
}

.sign-up-page .form-container {
    width: 40%;
}

.sign-up-page form {
    width: 60%;
    margin: 2% 0;
}

@media (max-width: 1130px) {
    .image-container img {
        margin: 2% auto;
    }
}