nav {
    padding: 3% 8%;
    backdrop-filter: blur(4px);
}

nav .brand-name {
    font-family: 'Lobster Two', cursive;
}

.navbar-icon {
    font-size: 1.8rem;
}

.navbar {
    gap: 3rem
}

.navbar-action {
    gap: 1rem;
}

.navbar-action p {
    font-size: 1.7rem
}

@media (max-width: 700px) {
    nav {
        margin-bottom: 2rem;
    }
}