.note-content-form {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(5px);
}

.form-header {
    gap: 1rem
}

.note-content-form form {
    width: 60%;
    background-color: var(--color-faint-white);
}

.action-box .icons {
    font-size: 2rem;
    color: var(--color-secondary-light);
    margin: 1rem;
}

.action-box .icons:hover {
    color: var(--color-secondary);
}

form .new-note-title {
    font-size: 2rem;
}

form textarea {
    font-size: 1.7rem;
    width: 97%
}

form textarea, form .new-note-title {
    background-color: var(--color-reset);
    margin: 8px;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 0;
}

form textarea:focus, form .new-note-title:focus {
    border-bottom: 2px solid var(--color-light-gray);
}

form textarea::placeholder, form .new-note-title::placeholder{
    color: var(--color-black);
}

.btn-save {
    border-radius: var(--container-border);
    padding: 10px 2rem;
    font-size: 1.3rem;
    justify-self: flex-end;
}

.btn-save:hover {
    box-shadow: none;
}

.hide {
    display: none
}

.btn-cancel {
    border-radius: var(--container-border);
    background-color: var(--color-reset);
    font-size: 1.5rem;
    justify-self: flex-end; 
}

.btn-cancel:hover {
    box-shadow: none;
}

.select-label, select {
    font-size: 1.5rem;
    margin: 0 1rem;
}

select {
    outline: none;
    border: none;
    padding: 1rem;
    border-bottom: 1px solid;
    text-align: center;
    background-color: var(--color-reset);
}

option {
    box-shadow: var(--mild-box-shadow);
}


@media (max-width: 700px) {
    .note-content-form form {
        width: 90%
    }
}