.circle-background {
    width: 60rem;
    min-height: 60rem;
    border-radius: var(--circle-border);
    position: fixed;
    z-index: -1;
}

.circle-background.one{
    background-color: var(--color-faint-blue);
    top:-3rem;
}

.circle-background.two{
    background-color: var(--color-dark-blue);
    right: -5%;
    bottom: -35%;
}

